.create-set__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.create-set__form > div {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    width: 450px;
}

.create-set__form div > input, textarea {
    padding: 10px 10px;
    max-width: 100%;
    font-size: 16px;
}

.create-set__btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border: 3px solid rgb(0, 136, 129);
    transition: all 0.5s;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(0, 136, 129);
    margin-top: 50px;
    cursor: pointer;
}

.create-set__name, .create-set__desc {
    margin: 5px 0px;
    color: rgb(0, 136, 129);
    font-weight: 500;
    font-size: 18px;
}

.error-msg {
    color: rgb(172, 0, 14);
}