* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  background-color: rgb(0, 95, 90);
  color: #fff;
  padding: 15px 0;
}

.card {
  position: relative;
  display: flex;
  max-width: 300px;
  min-height: 300px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(70, 70, 70);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  padding: 15px 0;
}

.card-check {
  transform: rotateY(180deg);
}

.card::after {
  content: 'Оборотная стороная 1-й карточки';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid 1px rgb(70, 70, 70);
  border-radius: 10px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}